<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2021 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<div class="modal fade" id="m_shuffler_start_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="start_shuffler">Start Shuffler</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger passphrase_warning" style="display:none">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span class="passphrase_warning_text"></span>
                    </div>
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="shuffler_start_shuffling_full_hash" data-i18n="shuffling_fullhash">Shuffling Full Hash</label><br/>
                        <input class="form-control" id="shuffler_start_shuffling_full_hash" name="shufflingFullHash" readonly/>
                    </div>
                    <div class="callout callout-danger never_hide">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span data-i18n="shuffling_recipient_passphrase_warning"></span>
                    </div>
                    <div class="form-group">
                        <label for="m_shuffler_start_recipient_secretphrase" data-i18n="recipient_passphrase_or_private_key"></label>
                        <input type="password" name="recipientSecretPhrase" id="m_shuffler_start_recipient_secretphrase" class="form-control" placeholder="Recipient Passphrase" data-i18n="[placeholder]recipient_passphrase" tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="m_shuffler_start_recipient_account" data-i18n="recipient_account">Recipient Account</label>
                        <input id="m_shuffler_start_recipient_account" class="form-control" placeholder="Recipient Account" data-i18n="[placeholder]recipient_account" readonly>
                    </div>
                    <div class="form-group">
                        <label data-i18n="fee_ratio">Fee Ratio</label>
                        <div class="input-group">
                            <input name="feeRateNXTPerFXT" class="form-control" placeholder="Fee Ratio" data-i18n="[placeholder]fee_ratio" tabindex="2">
                            <span class="input-group-addon"><span class="coin-symbol"></span><span class="coin-symbol-separator"></span><span class="parent-coin-symbol"></span></span>
                        </div>
                    </div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <div class="callout callout-info never_hide">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span class="shuffling-node-running-warning"></span>
                    </div>
                    <input type="hidden" name="request_type" value="startShuffler" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="start_shuffler;[placeholder]submitting">Start Shuffler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_shuffling_create_modal" tabindex="-1" role="dialog" aria-hidden="true" data-transaction-type="7" data-transaction-subtype="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="create_shuffling">Create Shuffling</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger never_hide">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span class="shuffling-node-running-warning"></span>
                    </div>
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="m_shuffling_create_holding_type" data-18n="holding_type">Holding Type</label>
                        <select name="holdingType" id="m_shuffling_create_holding_type" class="form-control" data-default="0" tabindex="1">
                            <option selected value="0" class="coin-symbol"></option>
                            <option value="1" data-i18n="asset">Asset</option>
                            <option value="2" data-i18n="currency">Currency</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12" aria-hidden="true" id="shuffling_asset_id_group" style="display: none;">
                        <div class="form-group shuffling_holding_asset" data-modal-ui-element="add_asset_modal_ui_element"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12" aria-hidden="true" id="shuffling_ms_currency_group" style="display: none;">
                        <div class="form-group shuffling_holding_currency" data-modal-ui-element="add_currency_modal_ui_element"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="m_shuffling_create_amount">
                                    <span id="m_shuffling_create_unit"></span>
                                </label>
                                <input name="amount" id="m_shuffling_create_amount" class="form-control" placeholder="" data-default="0" value="0" tabindex="2">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group shuffling_finish_height" data-modal-ui-element="block_height_modal_ui_element"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="m_shuffling_create_participant_count" data-i18n="participant_count">Participant Count</label>
                        <input type="text" name="participantCount" id="m_shuffling_create_participant_count" class="form-control" placeholder="Participant Count" data-i18n="[placeholder]participant_count" tabindex="3" min="3" max="30">
                    </div>
                    <div data-replace-with-modal-template="add_message_modal_template"></div>
                    <div data-replace-with-modal-template="fee_calculation_modal_template"></div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <div data-replace-with-modal-template="advanced_deadline_template"></div>
                    <div data-replace-with-modal-template="advanced_approve_template"></div>
                    <div data-replace-with-modal-template="advanced_rt_hash_template"></div>
                    <div data-replace-with-modal-template="advanced_broadcast_template"></div>
                    <div data-replace-with-modal-template="advanced_note_to_self_template"></div>

                    <input type="hidden" name="request_type" value="shufflingCreate" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><a href="#" data-i18n="advanced">advanced</a></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="create_shuffling;[placeholder]submitting">Create Shuffling</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_start_standbyshuffler_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="start_standbyshuffler">Start StandbyShuffler</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger passphrase_warning" style="display:none">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span class="passphrase_warning_text"></span>
                    </div>
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="m_start_standbyshuffler_holding_type" data-18n="holding_type">Holding Type</label>
                        <select name="holdingType" id="m_start_standbyshuffler_holding_type" class="form-control" data-default="0" tabindex="1">
                            <option selected value="0" class="coin-symbol"></option>
                            <option value="1" data-i18n="asset">Asset</option>
                            <option value="2" data-i18n="currency">Currency</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12" aria-hidden="true" id="standbyshuffler_asset_id_group" style="display: none;">
                        <div class="form-group standbyshuffler_holding_asset" data-modal-ui-element="add_asset_modal_ui_element"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12" aria-hidden="true" id="standbyshuffler_ms_currency_group" style="display: none;">
                        <div class="form-group standbyshuffler_holding_currency" data-modal-ui-element="add_currency_modal_ui_element"></div>
                    </div>
                    <div class="form-group">
                        <label for="m_start_standbyshuffler_min_amount" data-i18n="min_amount_label">Min. Amount (optional)</label>
                        <input name="minAmount" id="m_start_standbyshuffler_min_amount" class="form-control"
                               placeholder="" data-default="0" value="0" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="m_start_standbyshuffler_max_amount" data-i18n="max_amount_label">Max. Amount (optional)</label>
                        <input name="maxAmount" id="m_start_standbyshuffler_max_amount" class="form-control"
                               placeholder="" data-default="0" value="0" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="m_start_standbyshuffler_min_participants" data-i18n="min_participants">Min. Participants</label>
                        <input name="minParticipants" id="m_start_standbyshuffler_min_participants" class="form-control"
                               placeholder="" data-default="3" value="3" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label data-i18n="fee_ratio">Fee Ratio</label>
                        <i class="far fa-question-circle show_popover"
                           data-content="The bundling fee rate is required. Since StandbyShufflers will be running unattended and it can't be predicted what the feeRate should be at the time shuffling is triggered, you are advised to also configure a PersonalBundler, set the StandbyShuffler to submit transactions with zero fees and bundle them yourself."
                           data-i18n="[data-content]standbyshuffler_bundling_advice" data-container="body" style="color:#4CAA6E" ></i>
                        <div class="input-group">
                            <input name="feeRateNXTPerFXT" class="form-control" placeholder="Fee Ratio" data-i18n="[placeholder]fee_ratio" tabindex="2">
                            <span class="input-group-addon"><span class="coin-symbol"></span><span class="coin-symbol-separator"></span><span class="parent-coin-symbol"></span></span>
                        </div>
                    </div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <ul class="tab_selector_public_key_origin nav nav-tabs nav-justified" style="margin-bottom:1rem">
                        <li data-origin="bip32" class="active"><a href="#">Seed / Hardware</a></li>
                        <li data-origin="passphraseList" ><a href="#">Legacy accounts</a></li>
                    </ul>
                    <div class="public_key_origin bip32">
                        <div class="form-group">
                            <label for="m_start_standbyshuffler_master_public_key" data-i18n="master_public_key">Master Public Key</label>
                            <textarea class="form-control" name="serializedMasterPublicKey" id="m_start_standbyshuffler_master_public_key" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="m_start_standbyshuffler_child_key" data-i18n="start_from_child_index">Start From Child Index</label>
                            <input name="startFromChildIndex" id="m_start_standbyshuffler_child_key" class="form-control" data-default="0" value="0">
                        </div>
                    </div>
                    <div class="public_key_origin passphraseList hidden">
                        <div class="callout callout-danger never_hide">
                            <strong><span data-i18n="warning">Warning</span>:</strong>
                            <span data-i18n="shuffling_recipient_passphrase_warning"></span>
                        </div>
                        <div class="form-group">
                            <label for="m_start_standbyshuffler_recipient_secretphrases" data-i18n="recipient_passphrases">Recipient Passphrases (one per line)</label>
                            <textarea id="m_start_standbyshuffler_recipient_secretphrases" class="form-control" rows="3"
                                      placeholder="Recipient Passphrase" data-i18n="[placeholder]recipient_passphrase" tabindex="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="m_start_standbyshuffler_recipient_accounts" data-i18n="recipient_accounts">Recipient Accounts</label>
                            <textarea id="m_start_standbyshuffler_recipient_accounts" class="form-control"
                                      placeholder="Recipient Accounts" data-i18n="[placeholder]recipient_accounts" readonly></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="startStandbyShuffler" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="start_standbyshuffler;[placeholder]submitting">Start StandbyShuffler</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_stop_standbyshuffler_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="stop_standbyshuffler">Stop StandbyShuffler</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="stop_standbyshuffler_account" data-i18n="account">Account</label>
                        <input type="text" name="account" id="stop_standbyshuffler_account" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="stop_standbyshuffler_holding_type" data-i18n="holding_type">Holding Type</label>
                        <input type="text" name="holdingType" id="stop_standbyshuffler_holding_type" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="stop_standbyshuffler_holding" data-i18n="holding">Holding</label>
                        <input type="text" name="holding" id="stop_standbyshuffler_holding" class="form-control" readonly>
                    </div>
                    <input type="hidden" name="adminPassword" id="stop_standbyshuffler_admin_password"/>
                    <input type="hidden" name="request_type" value="stopStandbyShuffler"/>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="stop;[placeholder]submitting">Stop</button>
            </div>
        </div>
    </div>
</div>