<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2021 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="open_coin_orders_page" class="paginated page">
    <section class="content-header"><h1 data-i18n="my_coin_orders">My Coin Orders</h1></section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title" data-i18n="coin_orders">Coin Orders</h3></div>
                    <div class="box-body no-padding">
                        <div class="data-container data-loading table-responsive" data-no-padding="true">
                            <table class="table table-striped" id="open_coin_orders_table">
                                <thead>
                                <tr>
                                    <th data-i18n="order">Order</th>
                                    <th data-i18n="account">Account</th>
                                    <th class="bid_amount"></th>
                                    <th class="bid_rate"></th>
                                    <th data-i18n="coin">Coin</th>
                                    <th class="ask_amount"></th>
                                    <th class="ask_rate"></th>
                                    <th data-i18n="action">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                            <div class="data-empty-container"><p data-i18n="no_open_orders">No open orders.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-pagination"></div>
    </section>
</div>

<div id="coin_exchange_history_page" class="paginated page">
    <section class="content-header"><h1 data-i18n="exchange_history">Exchange History</h1></section>
    <section class="content">
        <div class="data-container data-loading table-responsive">
            <table class="table table-striped" id="coin_exchange_history_table">
                <thead>
                <tr>
                    <th data-i18n="date">Date</th>
                    <th class="coin_exchange_bid"></th>
                    <th class="coin_exchange_ask"></th>
                    <th data-i18n="account">Account</th>
                    <th class="coin_exchange_price numeric"></th>
                    <th data-i18n="amount" class="numeric">Amount</th>
                    <th data-i18n="coin">Coin</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
            <div class="data-empty-container"><p data-i18n="no_exchange_history">No exchange history available.</p></div>
        </div>
        <div class="data-pagination"></div>
    </section>
</div>

<div id="coin_exchange_page" class="page">
    <section class="content-header">
        <h1 data-i18n="coin_exchange">Coin Exchange</h1>
        <div style="display:none;" class="mobile-view header-select-container">
            <select id="coin_exchange_select_coin">
            </select>
        </div>
        <div style="position:absolute;top:9px;right:9px;">
            <button type="button" class="btn btn-sm btn-default" id="coin_exchange_add_coin_bookmark" style="display:none" data-toggle="modal" data-target="#add_coin_bookmark_modal" data-i18n="add_coin">Add Coin</button>
            <button type="button" class="btn btn-sm btn-default" id="coin_exchange_bookmark_this_coin" style="display:none" data-i18n="bookmark_coin">Bookmark This Coin</button>
            <button type="button" class="btn btn-sm btn-default" id="coin_exchange_clear_search" style="display:none" data-i18n="clear_search_results">Clear Search Results</button>
        </div>
    </section>
    <section class="content content-flex">
        <div class="content-splitter-sidebar">
            <div class="content-splitter-sidebar-inner">
                <div class="list-group unselectable sidebar_context" id="coin_exchange_sidebar">
                    <div id="coin_exchange_sidebar_search">
                            <form action="#" method="get" class="sidebar-form" id="coin_exchange_search" autocomplete="off">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search Coins..." data-i18n="[placeholder]search_coins">
                                <span class="input-group-btn">
                                <button type="submit" name="search" class="btn btn-flat" style="padding-left:3px"><i class="far fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div id="coin_exchange_sidebar_content">
                        <div style="text-align:center;padding-top:10px;"><span data-i18n="loading_please_wait">Loading, please wait</span><span class="loading_dots"><span>.</span><span>.</span><span>.</span></span></div>
                    </div>
                </div>
                </div>
        </div>
        <div class="content-splitter-right">
            <div class="content-splitter-right-inner">
                <div id="no_coins_available" style="padding-top: 150px;text-align:center;display:none;" data-i18n="no_coins_available">You don't have any coins in your bookmark list yet. Click on "Add Coin" in the top right corner to add one.</div>
                <div id="no_coin_search_results" style="padding-top: 150px;text-align:center;display:none;" data-i18n="no_coin_search_results">No coins found that match search query.</div>
                <div id="no_coin_selected" style="padding-top: 150px;text-align:center;">
                    <span class="regular-view" data-i18n="no_coin_selected">Please select a coin in the left sidebar.</span>
                    <span class="mobile-view" style="display: none;" data-i18n="no_coin_selected_mobile">Please select a coin from the menu above.</span>
                </div>
                <div id="loading_coin_data" style="padding-top: 150px;text-align:center;display: none;"><span data-i18n="coin_data_loading">Coin data loading, please wait...</span><br /><br /><img class="loading" src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                <div id="coin_details" style="display:none;">
                    <div style="float:right;color: #999999;background:white;padding:5px;border:1px solid #ccc;border-radius:3px">
                        <strong data-i18n="coin_name">Coin Name</strong>: <span id="coin_link"></span><br />
                    </div>
                    <h3 style="margin-top:0" id="coin_name"></h3>

                    <div style="color:#838383;margin-bottom:5px">
                        <strong data-i18n="total_available">Total Available</strong>: <span id="coin_quantity"></span> |
                        <strong data-i18n="coin_decimals">Coin Decimals</strong>: <span id="coin_decimals"></span> |
                    </div>

                    <div id="coin_description"></div>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-solid box-info collapsed-box" id="buy_coin_box">
                                <div class="box-header" style="background-color:#DFF0D9;color: #48AB6C;">
                                <h3 class="box-title" id="buy_coin_with_nxt"></h3>
                                    <div class="box-tools pull-right">
                                    <button class="btn btn-info btn-sm" style="background-color: #48AB6C"><i class="far fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body no-padding" style="display:none">
                                    <div style="background-color:#DFF0D9;color: #666;padding-left:10px;padding-right: 10px;padding-top: 0;padding-bottom:3px;">
                                        <strong data-i18n="balance">Balance</strong>: <span id="your_coin_balance"></span> <span class="coin-symbol"></span>
                                    </div>

                                    <form role="form" class="form-horizontal" style="padding: 10px;;max-width:350px;margin-left:auto;margin-right:auto;" autocomplete="off">
                                        <div>
                                            <div class="form-group">
                                                <label for="buy_coin_quantity" class="col-sm-3 control-label" data-i18n="amount">Amount</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input id="buy_coin_quantity" type="text" name="buy_coin_quantity" value="0" class="form-control" data-type="buy" />
                                                        <span class="input-group-addon"><span class="coin_name"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="buy_coin_price" class="col-sm-3 control-label" data-i18n="rate">Rate</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input id="buy_coin_price" type="text" value="0" name="buy_coin_price" class="form-control" data-type="buy" />
                                                        <span class="input-group-addon"><span class="coin-symbol"></span><span class="coin-symbol-separator"></span><span class="coin_name"></span></span>
                                                    </div>
                                                    <div class="input-group">
                                                        <input id="buy_coin_price_inverse" type="text" value="0" class="form-control" readonly/>
                                                        <span class="input-group-addon"><span class="coin_name"></span><span class="coin-symbol-separator"></span><span class="coin-symbol"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="buy_coin_total" class="col-sm-3 control-label" data-i18n="total">Total</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text" name="buy_coin_total" id="buy_coin_total" readonly value="0" class="form-control disabled" />
                                                        <span class="input-group-addon coin-symbol"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-last">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary btn-lg btn-block" id="buy_coin_button" data-toggle="modal" data-target="#coin_order_modal" data-coin="" data-type="Buy">
                                                        <span data-i18n="buy">Buy</span> (<span class="coin-symbol"></span> → <span class="coin_name"></span>)</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box box-danger" style="min-height:400px;max-height: 400px;overflow: auto;;">
                                <div class="box-header">
                                    <h3 class="box-title"><span data-i18n="sell_orders">Sell Orders</span> <span id="sell_orders_count"></span></h3>
                                </div>
                                <div class="box-body no-padding">
                                    <div class="data-container data-loading table-responsive" data-no-padding="true">
                                        <table class="table table-striped" style="font-size:10pt;" id="coin_exchange_sell_orders_table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th data-i18n="account">Account</th>
                                                <th class="coin_exchange_price numeric"></th>
                                                <th class="coin_exchange_counter_coin numeric"></th>
                                                <th class="coin_exchange_base_coin numeric"></th>
                                                <th data-i18n="sum" class="numeric">Sum</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div class="data-loading-container"><img class="loading" src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                                        <div class="data-empty-container"><p data-i18n="no_sell_orders_for_coin">No sell orders for this coin.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-solid box-info collapsed-box">
                                <div class="box-header" style="background-color:#DFF0D9;color: #48AB6C;">
                                    <h3 class="box-title" id="buy_nxt_with_coin"></h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-info btn-sm" style="background-color: #48AB6C" id="buy_nxt_with_coin_button" data-i18n="switch_chain"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-danger" style="min-height:400px;max-height: 400px;overflow: auto;;">
                                <div class="box-header">
                                    <h3 class="box-title"><span data-i18n="buy_orders">Buy Orders</span> <span id="buy_orders_count"></span></h3>
                                </div>
                                <div class="box-body no-padding">
                                    <div class="data-container data-loading table-responsive" data-no-padding="true">
                                        <table class="table table-striped" style="font-size:10pt;" id="coin_exchange_buy_orders_table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th data-i18n="account">Account</th>
                                                <th class="coin_exchange_price numeric"></th>
                                                <th class="coin_exchange_counter_coin numeric"></th>
                                                <th class="coin_exchange_base_coin numeric"></th>
                                                <th data-i18n="sum" class="numeric">Sum</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                            </table>
                                        <div class="data-loading-container"><img class="loading" src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                                        <div class="data-empty-container"><p data-i18n="no_buy_orders_for_coin">No buy orders for this coin.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-primary" style="max-height:500px;overflow:auto;margin-bottom:10px;">
                        <div class="box-header">
                            <h3 class="box-title" data-i18n="trade_history">Trade History</h3>
                            <div style="position:absolute;top:9px;right:9px;">
                                <div class="btn-group" data-toggle="buttons" id="coin_exchange_trade_history_type">
                                    <label class="btn btn-default active" data-type="everyone">
                                        <input type="radio" name="coin_exchange_trade_history_type"> <span data-i18n="everyone">Everyone</span>
                                    </label>
                                    <label class="btn btn-default" data-type="you">
                                        <input type="radio" name="coin_exchange_trade_history_type"> <span data-i18n="you">You</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <div class="data-container data-loading table-responsive" data-no-padding="true">
                                <table class="table table-striped" id="coin_exchange_trade_history_table">
                                    <thead>
                                    <tr>
                                        <th data-i18n="date">Date</th>
                                        <th class="coin_exchange_bid"></th>
                                        <th class="coin_exchange_ask">Match</th>
                                        <th data-i18n="account">Account</th>
                                        <th class="coin_exchange_price numeric"></th>
                                        <th class="coin_exchange_counter_coin numeric"></th>
                                        <th class="coin_exchange_base_coin numeric"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <div class="data-loading-container"><img class="loading" src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                                <div class="data-empty-container"><p data-i18n="no_trade_history">No trade history available.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>