<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2021 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of this software, including this file, may be copied, modified,   ~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<section class="sidebar">
    <div class="user-panel">
        <div class="info">
            <div class="info">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 account_balance">
                        <a class="btn label-success btn-sm" style="font-size:14px;" id="sideBalance" data-target="#account_details_modal" data-toggle="modal" href="#">
                            <span class="badge-active" style="padding:3px;" id="account_balance_sidebar"></span>
                            <span class="coin-symbol"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12 account_id">
                        <h5><span class="label" style="flex:1;" id="sidebar_account_id" data-18n="your_account"></span></h5>
                        <span><a class='btn btn-default btn-sm copy_link' href="#" id="copy_account_id" data-clipboard-target="#sidebar_account_id"><span class="far fa-copy"></span></a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6 account_info">
                        <a class='btn btn-default btn-sm' style="font-size:14px;" href="#" id="account_name" data-toggle="modal" data-dismiss="modal"
                                data-target="#account_info_modal" data-i18n="set_account_info">Set Account Info</a>
                    </div>
                    <div class="col-lg-6 col-xs-6" id="sidebar_account_link"></div>
                </div>
                <div class="row">
                    <div id="account_id_dropdown" style="display:flex;" class="col-lg-6 col-xs-6 btn-group">
                        <button type="button" style="flex:1;font-size:14px;" class="btn btn-primary btn-sm" data-i18n="switch_account">Switch Account</button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"></ul>
                    </div>
                    <div id="chain_dropdown" class="col-lg-6 col-xs-6 btn-group">
                        <button type="button" style="flex:2;font-size:14px;" class="btn btn-primary btn-sm show_chain_modal_action" id="chain_name"></button>
                        <button type="button" style="font-size:14px;" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"></ul>
                    </div>
                </div>
                <div class="row" style="display:flex;">
                    <div class="col-lg-6 col-xs-6 input-group current-height">
                        <span data-i18n="height">HEIGHT</span>
                        <span class="badge-active" style="padding:3px;" id="sidebar_block_link" data-toggle="tooltip" data-placement="bottom" title="HEIGHT" data-i18n="[title]current_blockchain_height"></span>
                    </div>
                    <div class="col-lg-6 col-xs-6 input-group next-block">
                        <span class="badge-active" id="sidebar_next_block_time"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12 network_status">
                        <a href="#" data-page="peers" id="connected_indicator" class="connected goto-page" style="display:none;font-size:14px;" data-toggle="tooltip" data-placement="top" title="CONNECTION" data-i18n="[title]server_connection_status"><i class="fa fa-circle" style="font-size:12px;"></i> <span data-18n="connected">Connected</span></a>
                        <a href="#" id="forging_indicator" class="forging" style="font-size:14px;" data-toggle="tooltip" title="" data-placement="bottom">
                            <i class="fa fa-circle" style="font-size:12px;"></i> <span data-18n="forging">Forging</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="#" method="get" class="sidebar-form" id="id_search" autocomplete="off">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search by ID..." data-i18n="[placeholder]search_by_id">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="far fa-search"></i></button>
            </span>
        </div>
    </form>
    <ul class="sidebar-menu" id="sidebar_menu">
    </ul>
</section>